* {
  
}

/*
 * GENERAL STYLE *
 *
 */

.title-colors {

}



.propped {
  min-height: 16rem;

}
span.text-info {
  font-weight: 100;
  background-color: rgba(0,0,0, 0,5); ;
}

article.card.text-center {
  margin-bottom: 1rem;
}



/*
 * FOOTER STYLE *
 *
 */

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Black see-through */
  width: 100%;
  font-size: 20px;
  padding: 20px;
  color: white;
}

address a {
  color: yellow;
}
address a:hover {
  color: white;
}

.cinch {
  max-width: 26rem;
}

.inverse {
  background-color: #777;
  color: white;
  width: 15rem;
  border-radius: 0.3rem;
  padding-left: 2rem;
  margin: 0.3rem;
}

.outpanel {
  overflow: scroll;
  border: dotted black 0.4rem;
  height: 11rem;
  max-width: 80%;
}
.outpanel-wide {
  overflow: scroll;
  border: dotted black 0.4rem;
  height: 11rem;
  width: 45rem;
  font-size: 0.7rem;
  text-align: left;
}
