:root {
  --blackpanel: rgb(00, 0, 21) ;
  --navypanel: rgb(2, 11, 35) ;
  --whitepanel: rgb() ;
  --blackpanel-text1: rgb(68, 197, 34) ;
  --navypanel-text1: rgb(25, 80, 181) ;
  --whitepanel-text1: rgb(68, 197, 34) ;
  --blackpanel-text2: rgb() ;
  --navypanel-text2: rgb(123, 211, 255) ;
  --whitepanel-text2: rgb(7, 23, 49) ;
  --blackpanel-text2hover: rgb() ;
  --navypanel-text2hover: rgb(29, 93, 213) ;
  --whitepanel-text2hover: rgb() ;
}

/*
 * GENERAL STYLE *
 *
 */

.title-colors {
  background-color: var(--navypanel);
  color: var(--navypanel-text1);
  /* copied from Bootstrap spec */
  padding:2rem 1rem;margin-bottom:2rem;border-radius:.3rem
}

.title-colors__alternate {
  color: var(--navypanel-text2);
}


.propped {
  min-height: 16rem;

}
span.text-info {
  font-weight: 100;
  background-color: rgba(0,0,0, 0,5); ;
}

article.card.text-center {
  margin-bottom: 1rem;
}



/*
 * FOOTER STYLE *
 *
 */

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Black see-through */
  width: 100%;
  font-size: 20px;
  padding: 20px;
  color: white;
}

address a {
  color: var(--navypanel-text2);
  background-color: rgba(0, 0, 0 , 0.4);
}
address a:hover {
  color: white;
}

.cinch {
  max-width: 26rem;
}

.inverse {
  background-color: #777;
  color: white;
  width: 15rem;
  border-radius: 0.3rem;
  padding-left: 2rem;
  margin: 0.3rem;
}

.outpanel {
  overflow: scroll;
  border: dotted black 0.4rem;
  height: 11rem;
  max-width: 80%;
}
.outpanel-wide {
  overflow: scroll;
  border: dotted black 0.4rem;
  height: 11rem;
  width: 45rem;
  font-size: 0.7rem;
  text-align: left;
}
